*{
  box-sizing: border-box;
}
.dx{
  font-size: 8px;
  padding: 0;
  margin: 0;
}
.sidebar-end {
    background-color: #121212;
    color: #b3b3b3;
    padding: 24px;
    height: 100%;
  }
  .sidebar-start .logo img {
    margin-left: 1rem;
    padding: 20px;
    width: 150px;
  }
  .navigation:nth-of-type(3) {
    border-bottom: 0.5px solid grey;
  }
  .sidebar-start .navigation ul {
    list-style: none;
    margin-top: 15px;
  }
  .sidebar-start .navigation ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
  }
  .sidebar-start .navigation ul li a:hover,
  .sidebar-start .navigation ul li a:active,
  .sidebar-start .navigation ul li a:focus,
  .sidebar-start .navigation ul li a:hover .bi,
  .sidebar-start .navigation ul li a:active .bi,
  .sidebar-start .navigation ul li a:focus .bi {
    color: #ffffff;
  }
  
  .sidebar-start .navigation ul li .bi {
    font-size: 1.2rem;
  }
  .sidebar-start .playlist ul {
    list-style: none;
    margin-top: 15px;
  }
  .sidebar-start .playlist ul li a {
    color: #b3b3b3;
    font-weight: 500;
    text-decoration: none;
    font-size: 1rem;
  }
  .sidebar-start .playlist ul li a:hover,
  .sidebar-start .playlist ul li a:active,
  .sidebar-start .playlist ul li a:focus {
    text-decoration: underline;
    color: #ffffff;
  }
  #main{
    margin-bottom: 120px;
  }

  #central{ 
    background: rgb(171,53,138);
    background: linear-gradient(180deg, rgba(171,53,138,1) 0%, rgba(18,18,18,1) 50%, rgba(18,18,18,1) 100%);
  }
.scroll-snap-y {
  scroll-snap-type: y mandatory proximity;
  height: 100vh; 
  overflow-y: hidden;
  transition: overflow-y 2s ease;
}
.scroll-snap-y:hover {
  overflow-y: scroll;
}

.scroll-snap-y > div {
  scroll-snap-align: start;
  margin-bottom: 60px; 
}
.scroll-snap-y::-webkit-scrollbar {
  width: 5px;
}

.scroll-snap-y::-webkit-scrollbar-thumb {
  background-color: gray;
}

.scroll-snap-y::-webkit-scrollbar-track {
  background-color: transparent; 
}
.color-green{
  background: #23b26b;
}
.border-radius-100{
  border-radius: 100%;
}
.text-bg-ternary{
  background-color: #12121249;
  color: #ffffff;
}
.font{
  font-size: 12px;
}
.trackList {
  cursor: pointer; 
}
.trackList:hover {
  background-color: rgba(128, 128, 128, 0.675);
}
@media (max-width: 768px) {
  .hidden {
    display: none;
  }
  .sidebar-start{
    max-width: 1px;
    background-color: #121212;
    padding: 0;
  }
  
  .fixed-bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #121212; /* Colore di sfondo se necessario */
    box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.1); /* Ombra sottile */
    z-index: 1000; /* Z-index per assicurarsi che sia sopra il resto del contenuto */
    display: flex;
    justify-content: space-around;
    padding: 10px; /* Aggiungi spaziatura interna se necessario */
  }

  .fixed-bottom-bar li {
    list-style: none;
    display: inline-block;
  }

  .fixed-bottom-bar a {
    text-decoration: none;
    color: #ffffff; /* Colore del testo */
  }
}