.bg-custom {
  background: #000000;
  background: -moz-linear-gradient(top, #000000 0%, #171717 44%, #757575 100%);
  background: -webkit-linear-gradient(
    top,
    #000000 0%,
    #171717 44%,
    #757575 100%
  );
  background: linear-gradient(to bottom, #000000 0%, #171717 44%, #757575 100%);
}

.m-custom {
  margin-top: 100px;
}
