@import url(//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book);

* {
  padding: 0;
  margin: 0;
  font-family: 'circular std book', sans-serif;
}
body {
  background-color: #121212;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 280px;
  background-color: #000000;
  padding: 20px;
}
@media (max-width: 768px) {
  
  .sidebar{
    max-width: 1px;
    background-color: #121212;
  }
}
.sidebar .logo img {
  width: 120px;
}


.navigation:nth-of-type(3) {
  border-bottom: 0.5px solid grey;
}
.sidebar .navigation ul {
  list-style: none;
  margin-top: 15px;
}
.sidebar .navigation ul li {
  padding: 5px 0px;
}
.sidebar .navigation ul li a {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.05rem;
}
.sidebar .navigation ul li a:hover,
.sidebar .navigation ul li a:active,
.sidebar .navigation ul li a:focus,
.sidebar .navigation ul li a:hover .bi,
.sidebar .navigation ul li a:active .bi,
.sidebar .navigation ul li a:focus .bi {
  color: #ffffff;
}

.sidebar .navigation ul li .bi {
  font-size: 1.2rem;
  margin-right: 7px;
}

.sidebar .playlist {
  position: fixed;
}
.sidebar .playlist ul {
  list-style: none;
  margin-top: 15px;
}
.sidebar .playlist ul li a {
  color: #b3b3b3;
  font-weight: 500;
  text-decoration: none;
  font-size: 0.8rem;
}
.sidebar .playlist ul li a:hover,
.sidebar .playlist ul li a:active,
.sidebar .playlist ul li a:focus {
  text-decoration: underline;
}
